$border-main: #7a7a7a; // основной серый
$gray-bg-main: #f5f5f5; // цвет обычного серого фона
$gray-text: #6f6f6f; // цвет серого текста
$gray-bg-dark: #efefef; // цвет темного серого фона (пунктов меню на сером и тд)
